@tailwind utilities;
@tailwind components;
@import "jsoneditor/reset";
@import "jsoneditor/variables";
@import "jsoneditor/autocomplete";
@import "jsoneditor/contextmenu";
@import "jsoneditor/editor";
@import "jsoneditor/menu";
@import "jsoneditor/navigationbar";
@import "jsoneditor/searchbox";
@import "jsoneditor/statusbar";
@import "jsoneditor/treepath";
@import "quill/quill.core.css";
@import "quill/quill.bubble.css";
@import "quill/quill.snow.css";

.form {
  &-textarea {
    width: 100%;
  }
}

.dragging { opacity: 0.5; }
.over { border: 2px dashed #007bff; }

.select-beautiful {
  &-container {
    width: 100%;
    display: inline-flex;
    padding: 5px;
  }
}

.input {
   &-search {
     width: 100%;
     padding: 5px;
     border:  2px solid #007bff;
     border-radius: 5px;
     &--focus {
       width: 100%;
       padding: 5px;
       border-top:  2px solid #007bff;
       border-left:  2px solid #007bff;
       border-right:  2px solid #007bff;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       border-bottom: none;
     }
   }
}

.list-items-container {
  width: 100%;
  border-bottom:  2px solid #007bff;
  border-left:  2px solid #007bff;
  border-right:  2px solid #007bff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  padding: 5px;
  list-style: none;
}
.list-option {
  cursor: pointer;
}

.list-option:hover {
  outline-offset: 2px;
  outline: #007bff;
}
div.search-container {
  width: 100%;
}
div.item-container {
  width: 100%;
}
span.item {
  position: relative;
  display: inline;
  padding: 5px;
  margin: 1px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color:white;
  color: #007bff;
}
button.item-close {
  position: relative;
  display: inline;
  font-size: 15px;
  width: 28px;
  background-color:white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 18px;
  margin: 1px;
  padding: 1px;
  right: -6px;
  top: 0px;
}
.list-items-container li[aria-selected="true"] {
  background-color:#007bff;
  color: white;
}
.list-items-container li.active {
  border: 1px solid #007bff;
  border-radius: 2px;
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}